@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
* {
	--webkit-box-sizing: border-box;
	--moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
/* globales */
.container{
	max-width: 1100px;
	width: 95%;
	margin: 0 auto;
}
.float-left{
	float: 	left;
}
.float-right{
	float: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
.padding{
	padding-top: 70px;
	padding-bottom: 70px;
}
.padding-top{
	padding-top: 70px;
}
.padding-bottom{
	padding-bottom: 70px;
}

.text-uppercase{
	text-transform: uppercase;
}
.sectionhome .cabecera {
	padding-bottom: 35px;
}
.bg-light{
	background-color: #eafeff;
}
.sectionhome .cabecera  h2, .sectionhome .cabecera h1{
	color: #20b1c7;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 0;
}
.sectionhome .cabecera p{
	font-size: 18px;
}
/* grid */

.row{
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;
}

.col-12{
	width: 100%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-11{
	width: 91.6%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-10{
	width: 80%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-9{
	width: 75%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-8{
	width: 66.7%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-7{
	width: 58.3%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-6{
	width: 50%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-5{
	width: 41.6%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-4{
	width: 33.3%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-3{
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-2{
	width: 16.6%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1{
	width: 8.3%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

/* header */
header{
	overflow: hidden;
	width: 100%;
	height: 70px;
	background-color: #213136;
	
	
}
header .container{

}
header .container .float-left{

}
header .container .float-left a#logo{
	background-image: url(../images/logo-web-50x50px.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 	102px;
	height: 70px;
	display: block;
}
header .container .float-right{

}
header .container .float-right nav{

}
header .container .float-right nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
header .container .float-right nav ul li{
	display: inline-block;
}
header .container .float-right nav ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	line-height: 70px;
	font-size: 13px;
	padding-left: 15px;
	padding-right: 15px; 
}
header .container .float-right nav ul li a:hover{
	opacity: 0.8;
}
header .container .float-right nav ul li.active{
	
}
header .container .float-right nav ul li.active a{
	color: 	#48d4eb;
}
/* portada */
section#portada{

}
section#portada .imagenes{

}
section#portada .imagenes article.bloque{
	display: none;
}
section#portada .imagenes article.bloque .imagen{
	background-image: url(../images/home/homeimg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 250px;
	width: 100%;
    box-sizing: border-box;
}
section#portada .imagenes article.bloque .imagen img{
	height:512px;
	width: 100%;
}
section#portada .imagenes article.bloque .texto{
	font-weight: 300;
	color: #fff;
	 line-height: 1.1;
}
section#portada .imagenes article.bloque .texto h2{
	color: #fff;
	width: 100%;
    font-size: 50px;
    font-weight: 400;
    line-height: 0px;
    font-family: "Segoe UI Light",sans-serif;
}
section#portada .imagenes article.bloque .texto h2 b{
	color: #fff;
	width: 100%;
    font-size: 52px;
    font-weight: 400;
    line-height: 0px;
	font-weight: 900;
	color:#fff;
}
section#portada .imagenes article.bloque .texto h3{
	color: #fff;
	color: #fff;
	width: 100%;
    font-size: 38px;
    font-weight: 400;
    line-height: 19.1px;
}
section#portada .imagenes article.bloque .texto p{
	color: #fff;
}
section#portada .imagenes article.bloque .texto h3 span{
	color: 	#48d4eb;
}
section#portada .imagenes article.bloque .texto p{
	
}
section#portada .imagenes article.bloque .texto p i.rayita{

}
/* bloque activado */
section#portada .imagenes article.bloque.active{
	display:block;
}
section#portada .flechas{
	
}
section#portada .flechas .flecha-izquierda{
	
}
section#portada .flechas .flecha-derecha{
	
}
section#portada .iconos{
	
}
section#portada .iconos a{
	
}
section#portada .iconos a.active{
	
}
/* servicios */
section#servicios{
	background-color: #fff;

}
section#servicios .container{

}
section#servicios .container .cabecera{

}
section#servicios .container .cabecera h2{
	color: #20b1c7;
	width: 100%;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    font-family: "Segoe UI Light",sans-serif;
}
section#servicios .container .cabecera p{
	width: 100%;
    font-size: 14px;
	color:#000000;
}
section#servicios .container .cuerpo article.bloque{
	display: inline-table;
}
section#servicios .container .cuerpo article.bloque .imagen{

}
section#servicios .container .cuerpo article.bloque .imagen img{

}
section#servicios .container .cuerpo article.bloque .texto{
	text-transform: uppercase;
    font-weight: 500;
   	font-family: inherit;
}
section#servicios .container .cuerpo article.bloque .texto h3{

}
section#servicios .container .cuerpo article.bloque .texto p{

}
/* resultados */
section#resultados{
	background-image: url(../images/bg-resultados.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
	color: #fff;
}
section#resultados .container{

}
section#resultados .container h2{
	line-height: 48px;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-top: 0;
}
section#resultados .container p{
	color :#fff;
}
/* que-somos */
section#que-somos{

}
section#que-somos .container{

}
section#que-somos .container .cabecera{

}
section#que-somos .container .cabecera h2{
	color:#20b1c7;
}
section#que-somos .container .cabecera p{

}
section#que-somos .container .cuerpo{
	margin-top: 25px;
    width: auto;
	margin-top: -1%;
	display: inline-block;
    background-color: #fff;
}
section#que-somos .container .cuerpo article.bloque{

}
section#que-somos .container .cuerpo article.bloque .imagen{

}
section#que-somos .container .cuerpo article.bloque .imagen img{

	display: inline-block;
	width: 350px;
	height: 100%;
}
section#que-somos .container .cuerpo article.bloque .texto{

}
section#que-somos .container .cuerpo article.bloque .texto h3{
	
}
section#que-somos .container .cuerpo article.bloque .texto p{
	
}
section#que-somos .container .cuerpo article.bloque .boton{
	padding: 48px 9px;
    text-align: center;
    width: 100%;

}
section#que-somos .container .cuerpo article.bloque .boton a{
	text-align: center;
	color: #fff;
	text-decoration: none;
    text-transform: uppercase;
    padding: 12px 30px;
    background-color: #00a9f0;
    width: 100%;
    max-width: 192px;
    margin: 20px auto 0;

}
/* trabajos */
section#trabajos{

}
section#trabajos .cabecera{

}
section#trabajos .cabecera .container{

}
section#trabajos .cabecera .container h2{
	color: 	#20b1c7;

}
section#trabajos .cabecera .container p{

}
section#trabajos .cuerpo{
}
section#trabajos .cuerpo article.bloque{
	margin-top: -4px;
    width: 2.3%;
    display: inline-table
}
section#trabajos .cuerpo article.bloque .imagen{
	width:270px;
}
section#trabajos .cuerpo article.bloque .imagen img{

}
section#trabajos .cuerpo article.bloque .texto{

}
section#trabajos .cuerpo article.bloque .texto h3 {
	position: fixed;
}
section#trabajos .cuerpo article.bloque .texto h4{
position: fixed;
}
section#trabajos .row{
	margin-right: 0;
	margin-left: 0;
}
section#trabajos .row > div{
	padding-left: 0;
	padding-right: 0;
}

/* algunos-hechos */
section#algunos-hechos{
	background-color: #fff;
}
section#algunos-hechos .container{

}
section#algunos-hechos .container .cabecera{

}
section#algunos-hechos .container .cabecera h2{
	color: 	#20b1c7;

}
section#algunos-hechos .container .cabecera p{

}
section#algunos-hechos .container .cuerpo{

}
section#algunos-hechos .container .cuerpo{

}
section#algunos-hechos .container .cuerpo article.bloque{
	
}
section#algunos-hechos .container .cuerpo article.bloque .imagen{
	width:100px;
    height:100px;
    border-radius:50%;
    border: solid 3px #20b1c7;
    overflow:hidden;
	display:block;
	margin:auto;
}
section#algunos-hechos .container .cuerpo article.bloque .imagen img{
	margin-top: 25px;
}
section#algunos-hechos .container .cuerpo article.bloque .texto{

}
section#algunos-hechos .container .cuerpo article.bloque .texto h3{
	font-size: 13px;
	margin-top: -50px;
	color: 	#20b1c7;
}
section#algunos-hechos .container .cuerpo article.bloque .texto h4{
	font-size: 40px;
	margin-top: 23px;
	color: 	#20b1c7;

}
/* mapa */
section#mapa{

}
section#mapa iframe{

}
/* footer */
footer{
	color: #fff;
	font-size: 13px;
}
footer a{
	color: #fff;
	text-decoration: none;
}
footer a:hover{
	color: #48d4eb;
}
footer #footer-arriba{
	padding: 27px 0;
	background-color: #282d30;
	overflow: hidden;
}
footer #footer-arriba .container ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: -15px;
	margin-right: -15px;
}
footer #footer-arriba .container ul li{
	display: inline-block;
}
footer #footer-arriba .container ul li a{
	padding: 0 15px;
}

footer #footer-arriba .container ul.redes-sociales{

}
footer #footer-arriba .container ul.redes-sociales li{

}
footer #footer-arriba .container ul.redes-sociales li a{
	
}
footer #footer-abajo{
	background-color: #167887;
	padding: 15px 0;
}