@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
* {
	--webkit-box-sizing: border-box;
	--moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
/* globales */
.container{
	max-width: 1100px;
	width: 95%;
	margin: 0 auto;
}
.float-left{
	float: 	left;
}
.float-right{
	float: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
.padding{
	padding-top: 70px;
	padding-bottom: 70px;
}
.padding-top{
	padding-top: 70px;
}
.padding-bottom{
	padding-bottom: 70px;
}

.text-uppercase{
	text-transform: uppercase;
}
.sectionhome .cabecera {
	padding-bottom: 35px;
}
.bg-light{
	background-color: #eafeff;
}
.sectionhome .cabecera  h2, .sectionhome .cabecera h1{
	color: #20b1c7;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 0;
}
.sectionhome .cabecera p{
	font-size: 18px;
}
/* grid */

.row{
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;
}

.col-12{
	width: 100%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-11{
	width: 91.6%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-10{
	width: 80%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-9{
	width: 75%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-8{
	width: 66.7%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-7{
	width: 58.3%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-6{
	width: 50%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-5{
	width: 41.6%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-4{
	width: 33.3%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-3{
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-2{
	width: 16.6%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1{
	width: 8.3%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}


header{
	overflow: hidden;
	width: 100%;
	height: 70px;
	background-color: #213136;
	position: fixed;
    margin-top: -100px;
    
}
header .container{
top: 100px;
}
header .container .float-left{

}
header .container .float-left a#logo{
	background-image: url(../images/logo-web-50x50px.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 	102px;
	height: 70px;
	display: block;
}
header .container .float-right{

}
header .container .float-right nav{

}
header .container .float-right nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
header .container .float-right nav ul li{
	display: inline-block;
}
header .container .float-right nav ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	line-height: 70px;
	font-size: 13px;
	padding-left: 15px;
	padding-right: 15px; 
}
header .container .float-right nav ul li a:hover{
	opacity: 0.8;
}
header .container .float-right nav ul li.active{
	
}
header .container .float-right nav ul li.active a{
	color: 	#48d4eb;
}
body{
    margin : 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(../images/home/homeimg.jpg);
    font-family: sans-serif;
}
.contactanos{
    margin-top: 100px;
    color: white;
    text-transform: uppercase;
    transition: all 4s ease-in-out;

}
.contactanos h1{
    font-size: 32px;
    line-height: 10px;   
}
.contactanos h2{
    font-size: 16px;

}
.form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    background: #ff5722 ;
    border-color:transparent;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover{
    background-color: #fff;
    color:#ff5722;
    cursor: pointer;
}
section#mapa{

}
section#mapa iframe{

}
/* footer */
footer{
    margin-top: 109px;
	color: #fff;
	font-size: 13px;
}
footer a{
	color: #fff;
	text-decoration: none;
}
footer a:hover{
	color: #48d4eb;
}
footer #footer-arriba{
	padding: 27px 0;
	background-color: #282d30;
	overflow: hidden;
}
footer #footer-arriba .container ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: -15px;
	margin-right: -15px;
}
footer #footer-arriba .container ul li{
	display: inline-block;
}
footer #footer-arriba .container ul li a{
	padding: 0 15px;
}

footer #footer-arriba .container ul.redes-sociales{

}
footer #footer-arriba .container ul.redes-sociales li{

}
footer #footer-arriba .container ul.redes-sociales li a{
	
}
footer #footer-abajo{
	background-color: #167887;
	padding: 15px 0;
}